@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: 74px;
    line-height: 74px;
}
section{
    margin: 128px 0;
}

.header__logo{
    font-size: 28px;
}
.header__logo span{
    font-size: 16px;
}
.header__item{
    font-size: 20px;
}