footer{
    width: 100%;
    padding: 10px;
    line-height: 67px;
    background: rgba(0, 0, 0, 0.097);
}

footer a{
    font-size: 25px;
    color: brown;
}

footer p{
    font-size: 20px;
    color: brown;

}

@media all and (max-width: 650px){
    footer .row{
        flex-direction: column;
    }

    footer a{
        font-size: 20px;
        color: brown;
    }
}

@media all and (max-width: 400px){
    footer a{
        font-size: 16px;
        color: brown;
    }

}